html {
   background-color: #f8f8f8;
}

.mui-bar {
   background-color: #4990E2;
}

.mui-title {
   color: white;
}

.mui-bar-nav {
   box-shadow: none;
}

.mui-action-back {
   color: white;
}

.mui-table-view {
   font-size: 16px;
}
